@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --primary-color: #77BA99;
    --secondary-color: #10A7F9;
    --accent1-color: #DD6F38;
    --accent2-color: #8C6340;
   
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    
    --nav-link-color: #DD6F38;
    --nav-hover-link-color: #77BA99;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1060px; 
    margin: auto;
}

h1 {
    font-family: var(--heading-font);
    font-size: 3rem;

}

h2 {
    font-family: var(--heading-font); 
    color: #242221;
    font-size: 2rem;
    text-align: left;
    padding-top: 50px;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    font-family: var(--heading-font)
}

p {
    padding: 0;
}

nav {
    font-size: 1.5rem;
    display: flex;
    float: right;
    position: relative;
    text-align: right;
}
    
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

.logo img {
	margin: 0 50% 0 50rem;
	width: 64px;
	height: auto;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
    white-space: nowrap;
}

.navigation a {
	display: 
    block;
	color: #77BA99;
	padding: 20px;
}

.navigation a:hover {
	color: #DD6F38;
	font-weight: 800;
}

.hero {
    position: relative;
}
  
.hero > img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.hero-title {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 0;
    width: 100%;
    background-color: #77ba98d7;
  }

.hero-article {
    position: absolute;
    margin: 30px;
    padding: 20px;
    top: 150px;
    left: 0;
    background-color: #77ba98d7;
}

.hero-article > img {
    display: block;
    width: 30%;
    height: auto;
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
    width: auto; 
 
}
.grid-item1 {
    order: 2;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

}

.grid-item2 {
    order: 1;
    border: none;
    padding-top: 75px;
    padding-right: 2px;
    text-align: justify;
 
}
.grid-item3 {
    order: 3;
    border: none;
    padding-top: 75px;
    padding-left: 2px;
    text-align: justify;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.footer-grid {
    display: flex;
    grid-template-columns: 1fr auto;
    align-items: center;
   justify-content: space-between;
 }
  .footer-text {
    margin: 0;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
  } 
  .footer-nav {
    display: flex;
    gap: 10px; 
    margin-right: 10px;
  }
  .footer-nav a img {
    width: 30px;
    height: auto;
  }
  
#company-info {
    text-align: left;
}

  #contact-form {
   padding-top: auto;
   margin-top: 20px;
  }
  
  #message{
    margin-top: 30px;
  }
  button[type="submit"] {
    text-align: left;
    background-color: #1589d0f1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #18e930;
  }
  
  .employee img {
   padding-top: 50px;
   place-items:start;
  }
