@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --primary-color: #77BA99;
    --secondary-color: #10A7F9;
    --accent1-color: #DD6F38;
    --accent2-color: #8C6340;
   
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    
    --nav-link-color: #DD6F38;
    --nav-hover-link-color: #77BA99;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1060px; 
    margin: auto;   
}

h1 {
    font-family: var(--heading-font);
    font-size: 3rem;

}

h2 {
    font-family: var(--heading-font); 
    color: #242221;
    font-size: 2rem;
    text-align: center;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    font-family: var(--heading-font)
}

p {
    padding: 0;
}

nav {
    font-size: 1.5rem;
    display: flex;
    float: right;
    position: relative;
    text-align: right;
}
    
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

.logo img {
	margin: 0 50% 0 50rem;
	width: 64px;
	height: auto;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
    white-space: nowrap;
}

.navigation a {
	display: 
    block;
	color: #77BA99;
	padding: 20px;
}

.navigation a:hover {
	color: #DD6F38;
	font-weight: 800;
}

.hero {
    position: relative;
}
  
.hero > img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.hero-title {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 0;
    width: 100%;
    background-color: #77ba98d7;
  }

.hero-article {
    position: absolute;
    margin: 30px;
    padding: 20px;
    top: 150px;
    left: 0;
    background-color: #77ba98d7;
}

.hero-article > img {
    display: block;
    width: 30%;
    height: auto;
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.grid-item {
    width: auto; 
}

.grid-item1 {
    order: 2;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.grid-item2 {
    order: 1;
    border: none;
    padding-top: 75px;
    padding-right: 2px;
    text-align: justify;
 
}
.grid-item3 {
    order: 3;
    border: none;
    padding-top: 75px;
    padding-left: 2px;
    text-align: justify;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.footer-grid {
    display: flex;
    grid-template-columns: 1fr auto;
    align-items: center;
   justify-content: space-between;
 }
  .footer-text {
    margin: 0;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
  } 
  .footer-nav {
    display: flex;
    gap: 10px; 
    margin-right: 10px;
  }
  .footer-nav a img {
    width: 30px;
    height: auto;
  }
  
#company-info {
    text-align: left;
    background-color: #e4edef;
    padding-left: 30px;
    padding-bottom: 30px;
}

  #contact-form {
   margin-top: 20px;
   background-color: #99a8ac;
   padding-left: 30px;
   padding-bottom: 30px;
  }
  
  #message{
    margin-top: 30px;
  }
  #contact-form h2 {
    text-align: left;
  }

  button[type="submit"] {
    text-align: left;
    background-color: #1589d0f1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #431cd1;
  }
  .employee h2{
    text-align: left;
    color: #431cd1;
  }
  
  .employee-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    background-color: #cce1ec;
}

.employee-wrap {
    text-align: left; 
    margin: 0 15px;
 }

.employee {
    display: block; 
    margin-top: 20px; 
}

  #image-container  {
    position: relative;
    width: 100%;
    height: 450px; 
}

 #image-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}
.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(31, 102, 209);
    text-align: center;
    background: rgba(181, 215, 229, 0.6);
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
}  
.booking-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: white; 
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer; 
    border-radius: 12px;
}

.booking-button:hover {
    background-color: darkblue;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#modal-toggle:checked ~ .modal {
    display: block;
}

.modal-content {
    position: fixed; 
    background-color: #fefefe;
    margin: auto;
    padding: 20px; 
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1} 
}

.call-to-action {
  background-color: #f1f0f0;
  padding: 20px;
  text-align: center;
  font-size: x-large;
  font-style: oblique;
  color: #39a7cc;
}

.contact-button {
    background-color: #4c98af; 
    border: none;
    color: rgb(237, 232, 240); 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition-duration: 0.4s; 
}

.contact-button:hover {
    background-color: rgb(57, 14, 189); 
    color: white; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
}


.trip-descriptions {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.trip-descriptions article {
  flex: 1; 
  margin: 20px;
  text-align: left; 
}

.trip-descriptions .image-container {
    width: auto;
    height: 250px; 
    max-width: 300px; 
    margin: 0 auto;
    padding: 0%;
    display: block;
}
.trip-descriptions article h2, 
.trip-descriptions article p {
  line-height: 1.2; 
  margin-top: 0; 
}

.trip-table {
    width: 50%;
    margin: auto; 
}

.trip-table table {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-collapse: collapse; 
}

.trip-table tr:nth-child(even) {
    background-color: #6bb2dc;
}
.full-width-image {
    position: relative;
    text-align: center;
    color: white; 
}

.full-width-image img {
    width: 100%;
    height: auto;
    vertical-align: middle; 
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    background: rgba(131, 138, 135, 0.6);
    transform: translate(-50%, -50%);
    color: rgb(14, 199, 223); 
}

#call-to-action{
  margin-top: 20px;
  padding: 20px;
  text-align: right;
  font-size: x-large;
  font-style: normal;
  color: #9e5b78;
  background-color: #10A7F9;
  box-shadow:5px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(36, 148, 204, 0.19); 
}

#call-to-action h2{
    text-align: right;
    color: #7614c1
}

 #grid-layout .grid-item{
text-align: left;
padding-top: 100px;
 }

 .newsletter{
    text-align: left;
    padding-bottom: 50px;
    background-color: #0f9bb8;
    width: 50%;
    padding-left: 30px;
    padding-right: 20px;
}

.newsletter h2 {
 text-align: left;
 color: #3f14c1;
}