@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --primary-color: #77BA99;
    --secondary-color: #10A7F9;
    --accent1-color: #dd6f38;
    --accent2-color: #8C6340;
   
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    
    --nav-background-color: #77BA99; 
    --nav-link-color: #F5E7E0; 
    --nav-hover-link-color: #8C6340; 
    --nav-hover-background-color: #77BA99; 
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px; 
    margin: 0 auto;
    padding: 20px; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font); 
    color: #000000;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);    
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color); 
    font-size: 1.2rem;
    display:flex;
}
    
nav a {
    display: block;
    color: var(--nav-link-color); 
    text-decoration: none; 
    padding: 1rem;
}
    
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
 
nav a:hover {
    color: var(--nav-hover-link-color); 
    background-color: var(--nav-hover-background-color); 
}